* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(58, 58, 58);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#page {
  width: 80%;
  margin: 0px auto;
}

#page h1 {
  color: #fff;
  text-align: center;
  line-height: 1.5;
  font-size: 80px;
}

#content {
  display: grid;
  background-color: #fff;
  width: 90%;
  height: 300px;
  margin: 0px auto;
  padding: 0px 20px 0px 20px;
}

#content button {
  font-size: 25px;
  font-weight: 600;
  background-color: rgb(16, 148, 137);
  margin: 10px 0px 10px 0px;
  border: none;
  color: white;
}

#content button:hover {
  background-color: rgb(54, 202, 25);
  cursor: pointer;
}
